.beauty-tube-wrap {
 width:477px;
 clear:both;
 display:block;
 margin:3px auto 3px auto;
 clear:both;
 padding:3px 2px 2px 3px;
}

.beauty-video-wrap {
 clear:both;
}

.beautiful-tubes-side-widget {
 width:270px;
 display:block;
 clear:both;
 margin:10px auto 3px auto;
}