.beauty-tube-wrap {
 width:477px;
 clear:both;
 display:block;
 margin:3px auto 3px auto;
 clear:both;
 padding:3px 2px 2px 3px;
}

.beauty-video-wrap {
 clear:both;
}

.beautiful-tubes-side-widget {
 width:98%;
 display:block;
 padding:3px 1% 3px 1%;
}

.related_tube {
 margin:0 auto 0 auto;
 width:270px; 
 height:152px;
 display:block;
}

div.beauty-tube-wrapper {
  width:473px;
  display:block;
  margin-bottom:10px;
  margin-top:10px;
  margin-left:auto;
  margin-right:auto;
}

img.beauty-image {
  position: relative;
  width: 112px;
  height: 73px;
  -ms-object-fit: contain;
  -moz-object-fit: contain;
  -o-object-fit: contain;
  -webkit-object-fit: contain;
  object-fit: contain;
}

div.beauty-img-wrap {
  width:116px;
  float:left;
  padding:1px auto auto 1px; 
  opacity:0.5;
  filter:alpha(opacity=50); 
}

div.beauty-img-wrap:hover {
  opacity:1.0;
  filter:alpha(opacity=100); 
}

div.beauty-img-main-wrap {
  width:473px;
  position:relative;
  display:block;
  cursor:pointer;
  font-size:17px;
  color:#302217;
  padding:1px auto auto 1px; 
}

p.beauty-pi-tag {
  width: 112px;
}

p.beauty-pi-tag a {
  float:left;
  font-size:16px;
  text-align:justify;
}

hr.beauty-line {
  position:relative;
  border:1px dotted #808000;
  width:98%;
  margin-left:1%;
  margin-right:1%;
}

.my_tube_sticky_widgets_header, .my_tube_currents_widgets_header, .my_tube_related_widgets_header {
 width:90%;
 height : 23px;
 color:#ffffff;
 margin-top:3px;
 text-align:center;
 font-weight:bold;
 font-size:23px;
 padding:3% 5% 3% 5%;
 background-image:url('./img/currentpost.png');
 background-repeat:repeat;
}

.my_tube_sticky_widgets_header {
 background-image:url('./img/featurepost.png');
}

.my_tube_related_widgets_header {
 background-image:url('./img/relatedpost.png');
}

.my_tube_sticky_posts_widget {
 float:left;
 position:relative;
 display:block;
 width:100%;
 margin-left:auto;
 margin-right:auto;
 margin-top:6px;
 margin-bottom:3px;
}

.my_tube_sticky_posts_img_wraps {
 float:left;
 position:relative;
 margin-right:1px;
 margin-bottom:3px;
 height:90px;
 width:120px;
 padding:2px 5px 2px 5px;
 background-color:#ffffff;
 border:1px dashed blue;
}

.my_tube_sticky_posts_img_wraps:hover {
 border:1px dashed green;
 cursor:pointer;
}

.my_tube_sticky_posts_text_wraps {
 float:left;
 font-size:17px;
 width:50%;
 height:90px;
 margin-bottom:3px;
 padding:3px 2% 3px 2%;
 background-color:#ffffff;
 overflow:hidden;
}

.my_tube_sticky_posts_text_wraps a {
 text-decoration:none;
 color:blue;
}

.my_tube_sticky_posts_text_wraps a:hover {
 text-decoration:underline;
}

.my_tube_widget_seperator {
 border:1px inset #41383C;
 width:99%;
 margin:3px auto 3px auto;
}